<div class= "pres">
<div class="text">
<center><h1 class="title" style="color:#CA0707">MY</h1><h1 class="title-A" style="color:black">LAWYER</h1></strong><br><br>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="http://localhost:3000/assets/red_logo-d5d7f4f24efb6ffdf462dff2ae9d490ff6ab822e926dc9807f4194d0861849c7.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <center><h5 class="card-title" style="color:#CA0707">MyLawyer.com</h5>
        <p class="card-text">Vous propose de trouver votre cabinet d'avocats pres de chez vous ! </p>
      </div>
    </div>
  </div>
</div>

<br>

<br>

<div class="accordion" style="color: black" id="accordionPanelsStayOpenExample">
  <div class="accordion-item"> 
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" style="color:#CA0707" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <strong>Présentation du site</strong>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <strong>A quoi sert MyLawyer ?</strong> MyLawyer vous permet de chercher des cabinets d'avocats spécialisées dans votre ville et région de toute la France et de pouvoir prendre un rendez-vous très facilement directement via le site My Lawyer.com.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
      <button class="accordion-button collapsed" style="color:#CA0707" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <strong>MyLawyer</strong>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
      <div class="accordion-body">
        MyLawyer a été crée en 2022 par 4 apprentis développeurs informatique pour faciliter la vie des gens quand elle devient compliquée pour eux.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingThree">
      <button class="accordion-button collapsed" style="color:#CA0707" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        <strong>Créateurs</strong>
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
      <div class="accordion-body">
        <strong>Qui sont les créateurs ?</strong><li> Ait Hamadouche Larbi</li><li>Benaceur Adrien </li><li> Kannouch Sami </li><li>Paolucci Loïc </li><br>Ce sont quatre apprentis développeurs informatique qui ont débuté en 2022 grâce à une école en ligne appellée The Hacking Projet.

      </div>
    </div>
  </div>
</div>

</div>