.image-profil{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url(https://static.vecteezy.com/ti/vecteur-libre/p1/2120602-calendrier-rendez-vous-entreprise-date-importante-travail-projet-plan-ou-rappel-concept-vectoriel.jpg);

}
.modal-body{

    color: rgb(207, 17, 17);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

